#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Always organized
    %button= link_to 'Enter', new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec suscipit odio ac ante lacinia, quis elementum sem lobortis. Praesent lacinia quis orci nec gravida. Phasellus consectetur erat justo, id hendrerit lectus dapibus eu. Nullam quis erat nec enim pulvinar vulputate. Duis ac arcu nisl. Nulla non accumsan diam. Vivamus rhoncus fringilla urna, et lacinia neque suscipit a. Cras enim ante, ultricies nec dolor in, posuere viverra leo. Etiam finibus nibh nec leo ullamcorper, et pretium felis porttitor. Integer vel tortor eget lorem dapibus tincidunt id ut nisl. Aliquam placerat felis id turpis gravida scelerisque. Morbi quis dignissim ex. Aenean ut mauris magna.

#bottom_cta
  .wrapper
    %h2 Free to Register
    %br
    %button= link_to 'Sign Up', new_user_registration_path
